
/* 
=====================================
Purpose: tic-tac-toe game css file

By: BigBBazz

Date created: 22/02/2023

Latest edit date:
=====================================
*/

* {
    box-sizing: border-box ;
    border: 1px solid red;
}

html, body {
    margin: 0px;
}

header {
    text-align: center;
}

.grid-parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 250px;
    margin: auto;
}

.grid-child {
    width: 30%;
}

.player1 {
    background-color: steelblue;
    width: 30%;
}

.player2 {
    background-color: aquamarine;
    width: 30%;
}